In [53]:
import pandas as pd

In [54]:
results_df = pd.read_excel('RESULTS_MATH_161.xlsx')
results_df.head()

,First name,Last name,ID number,Q1_10,Q2_10,Q3_10,Q4_10,MS_30,T_70,CA_30
0,David Kwadwo Frimpong,ABABIO,21098429,5.0,3.0,8.0,7.0,16.0,39,16.714286
1,Wendy Atampoka,ABAGNA,21102596,7.0,5.0,8.0,NaN,7.0,27,11.571429
2,Joshua,ABAKAH,21108632,7.0,8.0,9.0,10.0,9.0,43,18.428571
3,Samuel Kwaku,ABANKWA,21108576,6.0,8.0,8.0,6.0,14.0,42,18.000000
4,Joseph,ABBAN,21163755,9.0,5.0,8.0,7.0,17.0,46,19.714286